/* General Settings
--------------------------------------------------------------------------------------------------*/

body {
  padding: 0;
  font-family: "Oswald",Helvetica,Arial,Verdana,sans-serif;
}

h1{
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  color:white;
}

h2 {
  font: 300 30px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0079D7;
  top:0;
  width:100%;
  z-index:100;
}

main {
  width:100%;
  z-index:100;
}

.login {
  margin-top: 80px;
}


/* Custom Checkboxes
--------------------------------------------------------------------------------------------------*/

.checkbox-custom {
  display: inline-block;
	width: 30px;
	height: 16px;
	background: #D3D3D3;
	border-radius: 3px;
	position: relative;
}

.checkbox-custom:before {
	content: '';
	position: absolute;
	top: 7px;
	left: 5px;
	height: 2px;
	width: 20px;
	background: #999;
}

.checkbox-custom label {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 25%;

  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	z-index: 1;
	left: 3px;
	background: #fff;
}

.checkbox-custom input[type=checkbox]:checked + label {
	left: 18px;
	background: #0095FF;
}

.checkbox-custom-text  {
  position: absolute;
  margin-left: 8px;
}

.checkbox-custom-container {
  margin-bottom: 20px;
}

input[type=checkbox] {
	visibility: hidden;
}
