.navigation-font {
  font-family: 'Nunito', sans-serif;
  color: white;
}

nav .nav-front-link { font-size: 2.2em; color: white; }
nav .nav-front-link:hover { color: white; }

.custom-nav-hamburger { 
  border-color: transparent !important; 
  border-radius: 2px !important;
  color: white !important;
}
  
.custom-nav-hamburger:hover { background: #00BFFF !important; }

.navbar-toggle.collapsed .icon-bar {
  color: white !important;
}

.custom-nav-item:hover { background: #00BFFF !important; }

.custom-nav-btn { background: #006ece !important; border: solid #0062cc 1px !important; }

.custom-toggle-split { background: #006ece !important; border: solid #0062cc 1px !important; }

.custom-nav-btn:hover, .custom-toggle-split:hover { background: #00BFFF !important;; border-color: #00BFFF !important;; }

.employee-btn-group { margin-left: 8px; margin-right: 10px; }

/* Mobile styling
--------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 767px) {
  nav .nav-front-link { font-size: 1.6em; color: white; }
}
