/* Remove link decorations
--------------------------------------------------------------------------------------------------*/


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


/* Calendar Styling
--------------------------------------------------------------------------------------------------*/

#calendar {
  margin: 0 auto;
  visibility: hidden;
}

.draft-calendar {
  margin-bottom: 15px;
}

.bold { font-weight: 700; }
.blank-event.tro-event { opacity: 0.5; }


/* Calendar Toolbar Styling
--------------------------------------------------------------------------------------------------*/

.get-calendar-navbar { 
  display: inline-block; 
  padding: 0px !important; 
  border: 0px !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 55px;
}

.sticky-cal {
  position: fixed;
  top: 60px;
  width: 81.75%;
}

.sticky-cal + .content {
  padding-top: 55px;
}

.calendar-toolbar {
  background: linear-gradient(to bottom, #0079D7, #0a83eb);
  padding-bottom: 0px;
  margin-bottom: 5px;
  z-index: 100;
}

.calendar-toolbar-right, .calendar-toolbar-right * { display: inline-block !important; float: right; }

.calendar-toolbar label {
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-left: 7px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.get-calendar-icon { 
  color: white; 
  background: #0073d3;
  border: 2px solid white;
  border-radius: 1px;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 6px 7px 6px;
  
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}

.get-calendar-toggler {
  padding: 6px 0px 6px 0px;
}

.get-calendar-toggler:hover {
    background: #00BFFF !important;
}


.select-calendar {
  position: relative;
  top: 10px;
  display: inline-block;
  margin-left: 3px;
  border: 2px solid white;
  border-radius: 1px;
  width: 100px;
  overflow: hidden;
  background: transparent;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.select-calendar-year {
  width: 70px;
}

.select-calendar-month {
  width: 110px;
}

.select-calendar-department {
  width: 120px;
}

.select-calendar select {
    margin-bottom: 0px;
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: #0073d3;
    background-image: none;
    cursor: pointer;
    -webkit-appearance: none;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

.select-calendar select:hover {
    background: #00BFFF;
}


.select-calendar select:focus {
    outline: none;
}

#get-calendar-button {margin-bottom: 7px; }

.calendar-loader-btn {
  margin-left: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
  background: transparent;

  background-image: -webkit-linear-gradient(top, transparent, transparent);
  background-image: -moz-linear-gradient(top, transparent, transparent);
  background-image: -ms-linear-gradient(top, transparent, transparent);
  background-image: -o-linear-gradient(top, transparent, transparent);
  background-image: linear-gradient(to bottom, transparent, transparent);
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 4px 6px 4px 6px;
  border: solid #ffffff 2px;
  border-radius: 1px;
  text-decoration: none;
  background: #0073d3;

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
	transition: all .3s ease;
}

.calendar-push-btn:hover, .calendar-loader-btn:hover {
  background: #00BFFF;
  text-decoration: none;
}

.calendar-push-btn {
  margin-top: 10px;
  margin-left: 7px;
  margin-bottom: 4px;
  float: right;
  display: inline-block;
  padding-right: 37px;
  background: #0073d3;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 4px 6px 4px 6px;
  border: solid #ffffff 2px;
  border-radius: 1px;
  cursor: pointer;

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
	transition: all .3s ease;
}

.toolbar-divider {
  display: inline-block;
  float: right;
  height: 35px;
  width: 3px;
  margin-top: 10px;
  margin-left: 7px;
  margin-right: 1px;
  margin-bottom: 4px;
  background: white;
  border-radius: 1px;
}

.unactive-live {
  background: transparent !important;
  color: silver;
  border-color: silver;
}

.print-version > label:nth-child(1) {
  position: relative;
  color: white;
  font-size: 16px;
  bottom: 12px;
}

.print-version {
  position: relative;
  right: 5px;
  float: right;
  display: inline-block;
  top: -30px;
  padding-right: 7px;
  float: right;
  vertical-align: middle;
}

.copy-active {
  background: #00BFFF;
}


/* Day and week calendar cost/hours styling
--------------------------------------------------------------------------------------------------*/

#calendar-costs {
  visibility: hidden;
  position: absolute;
  top: 12px;
}



.cost-button {
  background: white;
  border: solid #dddddd 1px;
  border-radius: 2px;
  color: black;
}

.cost-button:hover {
  background: #F7F7F7;
  border: solid #dddddd 1px;
  color: black;
}

.cost-button:focus {
  outline: none !important;
  box-shadow: none;
}

#cost-dropdown {
  background: white;
  width: 670px;
}

.total-row {
  border-top: solid #dddddd 1px;
}

.day-cost-div {
  display: inline-block;
  width: 300px;
  border-right: solid #dddddd 1px;
  margin-left: 5px;
}

.week-cost-div {
  display: inline-block;
  margin-left: 20px;
  width: 310px;
}

table.cost-table { text-align: center; }
.cost-table th { padding-left: 5px; padding-right: 5px; }
td.cost-dep-name, th.cost-dep-name { text-align: left; padding-left: 0px; }

.highlight-dep-row { background: #e5ff6b; }


/* Calendar publishing and view rights styling
--------------------------------------------------------------------------------------------------*/

#department-view-rights-list, #employee-view-rights-list,
#set-department-view-rights-list, #set-employee-view-rights-list {
  height: 200px;
  max-height: 200px;
  overflow-y: auto;
  border: solid #dddddd 1px;
  border-radius: 2px;
  padding: 3px;
}

.half-inline { display: inline-block; width: 49%; }


/* Eligable list styling
--------------------------------------------------------------------------------------------------*/

.edit-remove-btn-bg {
  background: #F7F7F7;
  height: 98px;
  margin-top: 0px;
}

#edit-btn {
    margin-bottom: 10px;
    background: #4286f4;
    border-bottom: 2px solid #4a8cf7;
    border-radius: 2px;
    padding: 6px 3px 6px 3px;
    margin: 0px 15px 0px 15px;
    font-size: 120%;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

#edit-btn:hover:not(.inactive-btn) {
  background: #629dfc;
  cursor: pointer;
}


#edit-btn.inactive-btn {
  background: #9ebff7;
  border-bottom: 2px solid #c9ddff;
}


#remove-btn {
    background: linear-gradient(to bottom right, #ffc34d, #ef573d);
    background: #f45c42;
    border-bottom: 2px solid #ef7c69;
    border-radius: 2px;
    padding: 6px 3px 6px 3px;
    margin: 15px 15px 0px 15px;
    font-size: 120%;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

#remove-btn.inactive-btn {
  background: #ff9f8e;
  border-bottom: 2px solid #fcb2a6;
}

#remove-btn:hover:not(.inactive-btn) {
  background: #ef7c69;
  cursor: pointer;
}

#remove-btn-confirm-container {
  display: none;
}

#remove-btn-confirm {
    background: linear-gradient(to bottom right, #ffc34d, #ef573d);
    background: #f45c42;
    border-bottom: 2px solid #ef7c69;
    border-radius: 2px;
    padding: 6px 3px 6px 3px;
    margin: 15px 15px 0px 15px;
    font-size: 120%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

#remove-btn-confirm:hover {
  background: #ef7c69;
  cursor: pointer;
}

.schedule-adder h1{
  background: #ffc34d;
  padding: 12px 0;
  font-size: 180%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: -16px -16px 16px -16px;
}

#schedule-info {
  display: none;
}

#legend-selector {
  float: left;
  margin-left: 8px;
  cursor: pointer;
}

.legend-color {
  display: inline-block;
  height: 20px;
  width: 20px;
}

.legend-text {
  margin-left: 15px;
  margin-right: 15px;
}

#eligable-list-title {
  margin-left: -8px;
}

ul#eligable-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#eligable-list-header {
    background: #0079D7;
    border-radius: 2px 2px 0px 0px;
    padding: 4px 0;
    margin-top: 16px;
    margin-bottom: 0px;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

#eligable-list li {
  font: 200 18px/1.5 Helvetica, Verdana, sans-serif;
  padding-left: 5px;
  border-bottom: 1px solid #2d2400;
  text-decoration: none;
  color: #000;
}

#eligable-list li.proto-eligible-li {
  border-bottom: 1px solid #777777;
  color: #777777;
}

#eligable-list li:not(.proto-eligible-li) {
  cursor: pointer;
}

#eligable-list li:last-child {
  border: none;
}

.eligible-name {
  display: inline-block;
  max-width: 80%;
}

.hour-wrapper {
  position: relative;
  display: inline-block;
  float: right;
  margin-right: 5px;
}

.eligible-hours {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  float: left;
  text-align: right;
  width: 36px;
}

.desired-hours {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  text-align: right;
  width: 36px;
}

.hour-wrapper:hover .eligible-hours { display: none; }
.hour-wrapper:hover .desired-hours { display: inline-block; }


.blue-bg-eligible, #eligable-list li.curr-assigned-employee {
  background: #59bcff;
}

.red-bg-eligible {
  background: #ff8e8e;
}

.red-bg-eligible.proto-eligible-li {
  background: #ffadad;
}

.orange-bg-eligible {
  background: #ffa968;
}

.orange-bg-eligible.proto-eligible-li {
  background: #ffc69b;
}

.green-bg-eligible {
  background: #6ee261;
}

.green-bg-eligible.proto-eligible-li {
  background: #b0f7a8;
}

#eligable-list li:hover:not(.curr-assigned-employee):not(.proto-eligible-li) {
  background: #e5e5e5;
}

#eligable-list li.red-bg-eligible:hover:not(.curr-assigned-employee):not(.proto-eligible-li) {
  background: #ff6868;
}

#eligable-list li.orange-bg-eligible:hover:not(.curr-assigned-employee):not(.proto-eligible-li) {
  background: #f28d65;
}

#eligable-list li.green-bg-eligible:hover:not(.curr-assigned-employee):not(.proto-eligible-li) {
  background: #0cd123;
}


/* Calendar costs styling
--------------------------------------------------------------------------------------------------*/

ul#cost-list {
  list-style-type: none;
  margin: 0px 0px 10px 0px;
  padding: 0;
}

#cost-header {
    border-radius: 3px 3px 0px 0px;
    background: #0079D7;
    padding: 4px 0;
    margin-top: 16px;
    margin-bottom: 0px;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

li.cost-list {
  font: 200 18px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
  color: #000;
}

li:last-child.cost-list {
  border: none;
  font-weight: bold;
}

.cost-dep-name { text-align: center; margin-left: 5px; }
.cost-percentage { float: right; margin-right: 5px; }


/* Scheduler adder styling
--------------------------------------------------------------------------------------------------*/

.schedule-editor {
  margin-left: 4px;
}

.schedule-adder{
    font: 95% Arial, Helvetica, sans-serif;
	margin: 10px auto;
    margin-bottom: 0px;
    padding: 16px 16px 16px 16px;
    margin-bottom: 0px;
    background: #F7F7F7;
}

.schedule-adder h1{
    background: #ffc34d;
    border-radius: 3px 3px 0px 0px;
	padding-top: 8px;
	padding-bottom: 8px;
    font-size: 180%;
    font-weight: 400;
    text-align: center;
    color: #fff;
}


.schedule-adder input[type="text"],
.schedule-adder input[type="date"],
.schedule-adder input[type="datetime"],
.schedule-adder input[type="email"],
.schedule-adder input[type="number"],
.schedule-adder input[type="search"],
.schedule-adder input[type="time"],
.schedule-adder input[type="url"],
.schedule-adder textarea,
.schedule-adder select
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

.schedule-adder input[type="text"]:focus,
.schedule-adder input[type="date"]:focus,
.schedule-adder input[type="datetime"]:focus,
.schedule-adder input[type="email"]:focus,
.schedule-adder input[type="number"]:focus,
.schedule-adder input[type="search"]:focus,
.schedule-adder input[type="time"]:focus,
.schedule-adder input[type="url"]:focus,
.schedule-adder textarea:focus,
.schedule-adder select:focus
{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.schedule-adder input[type="submit"],
.schedule-adder input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: linear-gradient(to bottom right, #ffc34d, #fabe47);
    border-radius: 2px;
    border-bottom: 2px solid #ffd480;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    font-size: 120%;
}

.schedule-adder input[type="submit"]:hover,
.schedule-adder input[type="button"]:hover{
    background: #ffd480;
}


/* Copy conflict modal styling
--------------------------------------------------------------------------------------------------*/

#editConfirmationModal .modal-header .close { display: none; }

#copyConfirmationModal .modal-header .close { display: none; }
#copyConfirmationModal h3 { font-size: 1.3em; font-weight: 700; }
#copyConfirmationModal h4 { font-size: 1.1em; font-weight: 600; margin-bottom: 0px; }
#copyConfirmationModal p { font-size: 1em; margin: 0px; }
#copyConfirmationModal .conflict-assign-span { font-weight: 600; margin-bottom: 5px; }

.copyConflictDiv { border-bottom: solid #dddddd 1px; }
input[type=checkbox].conflict-checkbox { visibility: visible; }





/* Mobile styling
--------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1400px) {
  .schedule-adder > h1 { font-size: 1.2em; }
  #remove-btn { font-size: .9em; }
  #edit-btn { font-size: 1em; }
}

@media (max-width: 1290px) {
  .get-calendar-navbar { 
    margin-top: 10px;
  }
}

@media screen and (max-width: 764px) {
.sticky-cal {
    top: 100px;
    width: 65%;
  }
}

@media screen and (max-width: 992px) {
  #remove-btn { font-size: 1em; }
}

@media screen and (max-width: 767px) {
  .day-cost-div, .week-cost-div { display: block; }
  .day-cost-div { border-bottom: solid #dddddd 1px; border-right: 0px; padding-bottom: 5px; }
  .week-cost-div { margin-left: 5px; }
  .cost-dropdown { width: 350px; }
}

@media screen and (max-width: 575px) {
  .sticky, .sticky-cal { position: static; }
  .sticky-cal { width: 100%; }
}



