@media print {
  .no-print, .no-print * { display: none; }
  .fc-center > h2:nth-child(1) { font-size: 110%; }
  .fc-content { font-size: 0.9em; font-weight: 700; margin-top: 0px; }
  .live-cal-margin {margin: 0px !important; }
  .fc-day  {padding-bottom: 0px !important; }
  .fc-event-container *  {margin: 0px !important; padding: 0px !important; }
  .fc-toolbar {margin: -5px !important; padding: -5px !important; }
}
