.landing-page-title {
  font-size: 2.5em;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
}


.landing-page-bg-top {
  color: white;
  font-family: 'Nanum Myeongjo', serif;
}

.landing-page-bg-bottom {
  color: #212A35;
}

.landing-page-bg {
  color: #212A35;
}

.example-front {
  background: url("/static/site/images/front-bg-4.png");
}

.example-front2 {
  background: linear-gradient(to bottom, #0079D7, #1190f2);
}
.section-gap {
  height: 12px;
}

.landing-page-btn {
  background: #0079D7;
  border-radius: 3px;
  border-color: white;
  font-weight: bold;
  
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
	transition: all .3s ease;
}

.landing-page-btn:hover {
  border-color: white;
  background: #00BFFF;
  font-weight: bold;
}

a.landing-page-btn { color: white; }

.cal-example-tooltip { text-align: justify; }
.cal-example-header { font-weight: bold; font-size: 1.3em; text-align: center }

.cal-example-body { color: #424242; font-size: 1.1em; }

.t1 { margin-top: 70px; }
.t2 { margin-top: 40px; }
.t4 { margin-top: 70px; }
