h3 { color: #424242; }

.landing-page-title {
  font-size: 2.5em;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
}

.landing-page-bg-top {
  color: white;
  font-family: 'Nanum Myeongjo', serif;
}

.landing-page-bg-bottom {
  color: #212A35;
}

.landing-page-bg {
  color: #212A35;
}

.example-front {
  background: url("/static/site/images/front-bg-4.png");
}

.example-front2 {
  background: linear-gradient(to bottom, #0079D7, #1190f2);
}


.landing-page-btn {
  background: #0079D7;
  border-radius: 3px;
  border-color: white;
  font-weight: bold;
  
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
	transition: all .3s ease;
}

.landing-page-btn:hover {
  border-color: white;
  background: #00BFFF;
  font-weight: bold;
}

.features-bg { }
.features { 
  background: url("/static/site/images/front-page-5.png");
  color: #424242; }
.feature-header, .feature-title { font-weight: bold; }
.feature-text { font-size: 1.2em; text-align: justify; }

a.landing-page-btn { color: white; }

.cal-example-tooltip { text-align: justify; }
.cal-example-header { font-weight: bold; font-size: 1.3em; text-align: center; color: #424242; }

.cal-example-body { color: #424242; font-size: 1.1em; }

.mobile-example { display: none; }


.t1 { margin-top: 300px; }
.t2 { margin-top: 300px; }
.t3 { margin-top: 300px; }

@media screen and (max-width: 2000px) {
  .t1 { margin-top: 200px; }
  .t2 { margin-top: 200px; }
  .t3 { margin-top: 260px; }
}



@media screen and (max-width: 1800px) {
  .t1 { margin-top: 120px; }
  .t2 { margin-top: 140px; }
  .t3 { margin-top: 220px; }
}

@media screen and (max-width: 1600px) {
  .t1 { margin-top: 20px; }
  .t2 { margin-top: 80px; }
  .t3 { margin-top: 120px; }
}

@media screen and (max-width: 1400px) {
  .t1 { margin-top: 20px; }
  .t2 { margin-top: 20px; }
  .t3 { margin-top: 20px; }
}

@media screen and (max-width: 1200px) {
  .mobile-example { display: block; }
  .desktop-example { display: none; }
}