{% load static %}
<!DOCTYPE html>

<html>
  <head>
    {% block meta_tags %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock meta_tags %}
    
    <title>
      {% block title %}ScheduleHours{% endblock title %}
    </title>
    
    {% block stylesheets %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'site/css/base.css' %}" />
      <link rel="stylesheet" href="{% static 'site/css/navigation.css' %}" />
      <link rel="stylesheet" href="{% static 'site/css/bootstrap-custom.css' %}" />
      <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo" rel="stylesheet"> 
      <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"> 
    {% endblock stylesheets %}
    
    {% block extra_head %}{% endblock extra_head %}
  </head>
  <body>
    <!-- Header and navigation -->
    <header class="no-print">
      {% include "site/_navigation.html" %}
    </header>
    
    <!-- Main content -->
    <main>
      {% block content %}
      {% endblock content %}
    </main>  
    
    {% block javascript %}
      <script src="{% static 'site/js/jquery.min.js' %}" ></script>
      <script src="{% static 'site/js/moment.min.js' %}" ></script>
      <script src="{% static 'site/js/jquery.form.min.js' %}" ></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
      <script>
      $(document).ready(function() {  
        $.ajaxSetup({
          data: {csrfmiddlewaretoken: "{{ csrf_token }}" },
        });
      });
      </script>
    {% endblock javascript %}
  </body>
</html>