{% load schedule_calendar_extras %}

<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
      <a href="{% url 'schedulingcalendar:front_page' %}"><h1 class="navigation-font">ReScheduler</h1></a>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          {% if user|has_group:"Managers" %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Edit<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'schedulingcalendar:calendar_page' %}">Schedules</a></li>
                <li><a href="{% url 'schedulingcalendar:employee_list' %}">Employees</a></li>
                <li><a href="{% url 'schedulingcalendar:department_list' %}">Departments</a></li>
                <li><a href="{% url 'schedulingcalendar:monthly_revenue_list' %}">Sales</a></li>
                <li><a href="{% url 'schedulingcalendar:business_update' %}">Settings</a></li>
              </ul>
            </li>
          {% else %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Schedules<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'schedulingcalendar:calendar_page' %}">Calendar</a></li>
                <li><a href="{% url 'schedulingcalendar:employee_list' %}">Schedule Swaps</a></li>
              </ul>
            </li>
            <li><a href="{% url 'schedulingcalendar:employee_list' %}">My Availability</a></li>
          {% endif %}
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'schedulingcalendar:register' %}">Register</a></li>
        {% endif %}
        <li><a href="#">Help</a></li>
				<li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}?next={% url 'login' %}">Logout</a></li>
        {% endif %}
			</ul>
		</div>
	</div>
</nav>