<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
      <a href="{% url 'schedulingcalendar:front_page' %}"><h1>ReScheduler</h1></a>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Edit<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'schedulingcalendar:calendar_page' %}">Schedules</a></li>
              <li><a href="{% url 'schedulingcalendar:employee_list' %}">Employees</a></li>
              <li><a href="{% url 'schedulingcalendar:department_list' %}">Departments</a></li>
              <li><a href="{% url 'schedulingcalendar:department_list' %}">Sales</a></li>
            </ul>
          </li>
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="#">Register</a></li>
        {% endif %}
        <li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
        {% endif %}
			</ul>
		</div>
	</div>
</nav>