{% extends "schedulingcalendar/__baseFormCard.html" %}

{% block title %}Terminate Account{% endblock %}

{% block form_content %}
  <h3 class="card-title text-center">Account terminated</h3>
  <p>We are sad to see you go. If there was an issue or feature
  missing that would have changed your decision we would love to hear a short
  description to make a better product.
  <br>
  <div class="text-center">
    <form action="{% url 'schedulingcalendar:account_delete_feedback_send' %}"
          method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}