{% extends "schedulingcalendar/__baseFormCard.html" %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block form_content %}
    <h3 class="card-title text-center">Login</h3>
    <form method="post">
      {% csrf_token %}
      
      <!-- Username form input -->
      <div class="card-section pb-2">
        <div class="form-group">
          {{ form.username.errors }}
          {{ form.username.label_tag }}
          {{ form.username|add_class:'form-control' }}
          {% if form.username.help_text %}
            <p class="help">{{ form.username.help_text|safe }}</p>
          {% endif %}
          <a class="float-right" href="{% url 'schedulingcalendar:forgot_username' %}">Forgot Username</a>
        </div>
        
        <!-- Password form input -->
        <div class="form-group">
          {{ form.password.errors }}
          {{ form.password.label_tag }}
          {{ form.password|add_class:'form-control' }}
          {% if form.password.help_text %}
            <p class="help">{{ form.password.help_text|safe }}</p>
          {% endif %}
          <a class="float-right" href="{% url 'password_reset' %}">Forgot Password</a>
        </div>
      </div>
      <input type="submit" class="btn btn-primary" value="Login">
    </form>
{% endblock form_content %}
