{% extends "schedulingcalendar/__baseFormCard.html" %}
{% load widget_tweaks %}

{% block title %}Forgot Password{% endblock %}

{% block form_content %}
  <h3 class="card-title text-center mb-4">Forgot password</h3>
  <div class="text-center">
    <form method="post">
      <div class="card-section">
      <p>Type in the email associated with your account and we will send you a
      password reset form.</p>
      {% csrf_token %}
      {% for field in form %}
          <div class="form-group">
            {{ field.errors }}
            <label for="{{ field.id_for_label }}">Email associated with your account</label>
            {{ field|add_class:'form-control' }}
            {% if field.help_text %}
              <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}