{% extends "schedulingcalendar/__baseFormCard.html" %}

{% block title %}Change Password{% endblock %}

{% block form_content %}
  {% if validlink %}
    <h3 class="card-title text-center">Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Change password</button>
      </div>
    </form>
  {% else %}
    <div class="text-center">
      <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
      </p>
    </div>
  {% endif %}
{% endblock %}