<!-- Modal -->
<div id="editConfirmationModal" data-backdrop="static" keyboard="false" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Attention: Conflict With Edited Schedule</h4>
      </div>
      <div id="edit-conflict-manifest" class="modal-body">
      </div> 
      <div class="modal-footer">
          <button type="button" 
                  class="btn btn-success justify-content-center"   
                  id="edit-undo-conflict-btn"
                  data-dismiss="modal">Undo Edit</button>
                    
          <button type="button" 
                  class="btn btn-danger"
                  data-dismiss="modal">Keep Edit</button>
        </div>
      <br>
    </div>

  </div>
</div>