<!-- Modal -->
<div id="legendModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <div class="text-center">
          <h4 class="modal-title">What The Various Colors And Letters Mean:</h4>
        </div>
      </div>
      
      <div class="modal-body">
        <div class="legend-note">
          <div class="legend-color red-bg-eligible"></div>
          <span>Means there is a conflict like an employee being on vacation, 
                is absent, an overlapping schedule the employee is already 
                assigned to, or has a repeating unavailability.
          </span>
        </div>
        <br>
        <div class="legend-note">
          <div class="legend-color orange-bg-eligible"></div>
          <span>Means if the employee is assigned to the selected schedule,
                then the employee will either be in overtime, or be over 
                the amount of desired hours they want to work a week plus a 
                margin you specify (The default is 5 hours, go to 
                <a href="{% url 'schedulingcalendar:business_update' %}">Business Settings</a>
                to change this.)
          </span>
        </div>
        <br>
        <div class="legend-note">
          <div class="legend-color green-bg-eligible"></div>
          <span>Means there are no conflicts or warnings and there is some 
                overlap between a weekly repeating time the employee wants
                to work and the selected schedule.
          </span>
        </div>
        <br>
        <div class="legend-note">
          <div class="legend-color blue-bg-eligible"></div>
          <span>Means the employee is currently assigned to the schedule.
                This overrides all other color flags.     
          </span>
        </div>
      </div>
      
      <hr></hr>
      
      <div class="legend-note">
          <p class="legend-text"><b>(S)</b> Means the employee is currently 
                assigned to another schedule that has any amount of overlap 
                with the schedule currently being considered.
          </p>
          <p class="legend-text"><b>(V)</b> Means the employee is on a vacation
                that has any overlap with the schedule currently being
                considered.
          </p>
          <p class="legend-text"><b>(A)</b> Means the employee is absent for a time
                that has any overlap with the schedule currently being
                considered.
          </p>
          <p class="legend-text"><b>(U)</b> Means the employee has a repeating 
                unavailability that has any overlap with the schedule being 
                considered.
          </p>
          <p class="legend-text"><b>(O)</b> Means the employee will be in 
                overtime if assigned to this schedule.
          </p>
          <p class="legend-text"><b>Note:</b> The number to the right of an employee's
                name in the eligible list for a given schedule is how many hours 
                that employee is currently assigned to for that workweek.
          </p>
          <p class="legend-text"><b>Also!</b> If you hover your mouse over the
                number of hours an employee is working, a small pop-up
                will tell you how many hours an employee would like to work
                each week.
          </p>
      </div>
      
      
      <div class="modal-footer">
        <div class="text-center">
          <button type="button" 
                  class="btn btn-info text-center"   
                  data-dismiss="modal">Okay</button>
        </div>
      </div>
    </div>
  </div>
</div>