<!-- Modal -->
<div id="printModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Attention: You Are Printing A Draft Version</h4>
      </div>
      <div id="print-manifest" class="modal-body">
        <p>The draft version may not be the most up to date version employees will see.
           In order to ensure the version you print and the online calendar are 
           the same go to view live calendar and print that calendar.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" 
                class="btn btn-default"
                id="print-live-calendar"
                data-dismiss="modal">Go To Live Calendar To Print</button>
      
        <button type="button"  
                class="btn btn-danger" 
                id="print-draft-calendar-warning"
                data-dismiss="modal">Print Draft</button>
      </div>
    </div>

  </div>
</div>