<!-- Modal -->
<div id="pushModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">Push Current Calendar Live?</h4>
      </div>
      
      <div class="modal-body">
        <div class="text-center">
          <p>The current state of the draft calendar will be made live for employees to see.</p>
        
          <button type="button" 
                  class="btn btn-default"   
                  data-dismiss="modal">Do Not Make Calendar Live</button>
                  
          <button type="button" 
                  class="btn btn-danger"
                  id="push-calendar-after-warning-btn"
                  data-dismiss="modal">Make Calendar Live</button>
        </div>
      </div>
    </div>
  </div>
</div>