{% extends "schedulingcalendar/__baseFormCard.html" %}

{% block form_content %}
  <h3 class="card-title text-center">About Us</h3>
  <a class="cart-view" href="/static/site/images/about1.jpg" onClick="return Pop(this.href,500,499)">
    <img class="img-fluid" src="/static/site/images/about1.jpg" alt="A. Johnson & Sons Building">
  </a>
  <div class="card-section">
    <p>We are a Minnesota based startup building business driven scheduling applications.</p>
    
    <p>We started out of A. Johnson & Sons Florist with the goal to create a 
    scheduling application that met its specific needs. After a lot of hard work a
    different kind of scheduling application than what is available on the web emerged. 
    One that is paradoxically anachronistic in that it caters to printed paper 
    schedules, while being fully online ready.</p>
    
    <p>Many small retail businesses want features like a fully printable 
    calandar filled with the information that they want, alongside a digital suite
    of features that makes scheduling easier such as cost projections.</p>
    
    <p>Employees also benefit by having both digital and physical options available.
    In a world of increasing bureaucratic complexity for individual lives, the option
    to simplify by not having to download yet another app makes an employee's life
    a little bit simpler.</p>
    
    <p>So our goal with this software is to find the right balance between maximum
    simplicity and pragmatic effectiveness given your needs.</p>
  </div>
{% endblock form_content %}  