{% extends "schedulingcalendar/__baseFormCard.html" %}

{% block sub_navbar %}
  <div class="back-navbar">
      <a class="go-back-link"
         href="{% url 'schedulingcalendar:employee_info' employee.id %}">Return To {{ employee.first_name }} {{ employee.last_name }}'s Page</a>
  </div>
{% endblock sub_navbar %}  

{% block form_content %}
  <div class="text-center">
    <h4 class="card-title text-center">Are You Sure You Want To Delete This Unavailability?</h4>
    <form id="delete-absence-form"
          name= "DeleteAbsenceForm"
          action="{% url 'schedulingcalendar:absent_delete' employee.id absence.id %}"
          method="post">
      {% csrf_token %}
      <input type="submit" class="btn btn-danger" value="Delete Absence">
    </form>
  </div>
{% endblock form_content %}  