{% extends "schedulingcalendar/__baseFormCard.html" %}
{% load static %}
{% load widget_tweaks %}

{% block form_content %}
  <form id="update-business-settings-form"
        name= "UpdateBusinessDataForm"
        action="{% url 'schedulingcalendar:business_update' %}"
        method="post">
    {% csrf_token %}
    {{ add_sch_form.non_field_errors }}
    <!-- General Business Settings -->
    <div class="card-group w-100">
      <div>
        <div class="card-block">
          <h4 class="card-title text-center">Business Settings:</h4>
          <!-- Overtime form input -->
          <div class="form-group">
            {{ form.overtime.errors }}
            {{ form.overtime.label_tag }}
            {{ form.overtime|add_class:'form-control' }}
            {% if form.overtime.help_text %}
              <p class="help">{{ form.overtime.help_text|safe }}</p>
            {% endif %}
          </div>
          <!-- Overtime multiplier form input -->
          <div class="form-group">
            {{ form.overtime_multiplier.errors }}
            {{ form.overtime_multiplier.label_tag }}
            {{ form.overtime_multiplier|add_class:'form-control' }}
            {% if form.overtime_multiplier.help_text %}
              <p class="help">{{ form.overtime_multiplier.help_text|safe }}</p>
            {% endif %}
          </div>
          <!-- Workweek weekday start form input -->
          <div class="form-group">
            {{ form.workweek_weekday_start.errors }}
            {{ form.workweek_weekday_start.label_tag }}
            <p class="card-text">Employers may decide when the start of the
                               workweek will occur for scheduling purposes.
                               This decision impacts how overtime will be 
                               calculated.</p>
            {{ form.workweek_weekday_start|add_class:'form-control' }}
            {% if form.workweek_weekday_start.help_text %}
              <p class="help">{{ form.workweek_weekday_start.help_text|safe }}</p>
            {% endif %}
          </div>
          <!-- Workweek time of day start form input -->
          <div class="form-group">
            {{ form.workweek_time_start.errors }}
            {{ form.workweek_time_start.label_tag }}
            {{ form.workweek_time_start|add_class:'form-control' }}
            {% if form.workweek_time_start.help_text %}
              <p class="help">{{ form.workweek_time_start.help_text|safe }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    
    <input type="submit" class="btn btn-primary" value="Save Changes">
  </form>
{% endblock form_content %} 

{% block javascript %}
  {{ block.super }}  
  <script src="{% static 'schedulingcalendar/js/businessdata.js' %}" ></script>
{% endblock javascript %} 