{% extends "site/__base.html" %}

{% block stylesheets %}
  {{ block.super }}
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/default.css' %}" />
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/default.time.css' %}" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" />
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/fullcalendar-custom.css' %}" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css " media="print" />
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/fullcalendar-print-custom.css' %}" media="print" />
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/calendar.css' %}" />
{% endblock stylesheets %}

{% block content %}
  <div class="container-fluid">
    <!-- Modals used for warnings -->
    {% include "schedulingcalendar/_conflictModal.html" %}
    {% include "schedulingcalendar/_removeModal.html" %}
    {% include "schedulingcalendar/_pushModal.html" %}
    {% include "schedulingcalendar/_successfulPushModal.html" %}
    {% include "schedulingcalendar/_deactivateModal.html" %}
    {% include "schedulingcalendar/_reactivateModal.html" %}
    {% include "schedulingcalendar/_legendModal.html" %}
    {% include "schedulingcalendar/_noteModal.html" %}
    {% include "schedulingcalendar/_noteAlertModal.html" %}
    {% include "schedulingcalendar/_employeelessModal.html" %}
    {% include "schedulingcalendar/_employeelessDepartmentModal.html" %}
    
    <div id="toolbar-sticky" class="row no-print calendar-toolbar">
      <div class="col-lg-7 col-md-12">
        <!-- Form for getting calendar -->
        <form id="load-calendar-form"
              action="{% url 'schedulingcalendar:get_schedules' %}"
              onsubmit="return(validateGetCalendarForm())"
              data-date="{{ date|date:"Y-m-d" }}"
              data-department="{{ department }}"
              method="get">
          {% csrf_token %}
              
          <!-- Department Selector -->
          {{ calendar_form.department.errors }}
          {{ calendar_form.department.label_tag }} 
          <div class="select-calendar select-calendar-department">
            {{ calendar_form.department }}
          </div>
          {% if calendar_form.department.help_text %}
            <p class="help">{{ calendar_form.epartment.help_text|safe }}</p>
          {% endif %}
             
          <!-- Month Selector -->
          {{ calendar_form.month.errors }}
          {{ calendar_form.month.label_tag }} 
          <div class="select-calendar select-calendar-month">
            {{ calendar_form.month }}
          </div>
          {% if calendar_form.month.help_text %}
            <p class="help">{{ calendar_form.month.help_text|safe }}</p>
          {% endif %}
          
          <!-- Year Selector -->
          {{ calendar_form.year.errors }}
          {{ calendar_form.year.label_tag }} 
          <div class="select-calendar select-calendar-year">
            {{ calendar_form.year }}
          </div>
          {% if calendar_form.year.help_text %}
            <p class="help">{{ calendar_form.epartment.help_text|safe }}</p>
          {% endif %}
              
          <input type="submit" class="calendar-loader-btn" id="get-calendar-button" value="Get Calendar">
        </form>
      </div>
        
      <div class="col-lg-5 col-md-12">
        <!-- Buttons for live version of calendar that employees see -->
        <div id="push-live" class="calendar-push-btn">
          Push Live
        </div>
            
        <div id="active-live-set" class="calendar-push-btn unactive-live">
           Deactivate Live
        </div>
        

        <form id="view-live-form"
              action="{% url 'schedulingcalendar:view_live_schedules' %}"
              method="get">
          {% csrf_token %}
              
          {% for field in view_live_form %}
            {{ field.errors }} 
            {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
          {% endfor %}
          <input type="submit" class="calendar-push-btn unactive-live" id="view-live" value="View Live">
        </form>
        
        <div class="toolbar-divider">
        </div>
        
        <!-- Misc Buttons -->
        <div id="copy-day" class="calendar-push-btn">
          Copy Day
        </div>
        <div id="day-note" class="calendar-push-btn">
          Notes
        </div>
      </div>
    </div>

    <div class="row content">
      <div class="col-lg-10 col-md-8 col-sm-8">
        <!-- Fullcalendar -->
        <section class="draft-calendar" id="stick-cal">
          <div id="calendar"></div>
        </section>
      </div>
    
      <div class="col-lg-2 col-md-4 col-sm-4">
        <!-- Schedule Editor -->
        <aside class="schedule-editor no-print">
          <section class="schedule-adder">
            <h1>Schedule Editor</h1>
            <form id="schedule-add-form"
                  name= "addingScheduleForm"
                  action="{% url 'schedulingcalendar:add_schedule' %}"
                  onsubmit="return(validateAddScheduleForm())" 
                  method="post" 
                  align="left">
              {% csrf_token %}
              {{ add_sch_form.non_field_errors }}
              
              {{ add_sch_form.add_date.errors }}
              {{ add_sch_form.add_date }}
              
              {{ add_sch_form.department.errors }}
              {{ add_sch_form.department }}
              
              {{ add_sch_form.start_time.errors }}
              {{ add_sch_form.start_time.label_tag }}
              {{ add_sch_form.start_time }}
              
              <div class="checkbox-custom-container">
                <div class="checkbox-custom">
                  {{ add_sch_form.hide_start.errors }}
                  {{ add_sch_form.hide_start }}
                  {{ add_sch_form.hide_start.label_tag }}
                </div>
                <span class="checkbox-custom-text">Hide Start Time</span>
              </div>
              
              {{ add_sch_form.end_time.errors }}
              {{ add_sch_form.end_time.label_tag }}
              {{ add_sch_form.end_time }}
              
              <div class="checkbox-custom-container">
                <div class="checkbox-custom">
                  {{ add_sch_form.hide_end.errors }}
                  {{ add_sch_form.hide_end }}
                  {{ add_sch_form.hide_end.label_tag }}
                </div>
                <span class="checkbox-custom-text">Hide End Time</span>
              </div>
              
              <input type="submit" value="Add Schedule">
            </form>
          </section>
                
          <section id="schedule-info">
            <div class="edit-remove-btn-bg">
              <h3 id="edit-btn">Edit Schedule</h3>
              <h3 id="remove-btn">Remove Schedule</h3>
              <div id="remove-btn-confirm-container">
                <h3 id="remove-btn-confirm">Are You Sure?</h3>
              </div>
            </div>
            
            <div id="eligable-list-header">
              <span title="Color Legend" id="legend-selector">?</span>
              <span id="eligable-list-title">Employees</span>
            </div>
            <ul id="eligable-list"></ul>
          </section>
          
          <section id="cost-info">
            <h3 id="cost-header">Projected Cost</h3>
            <ul id="cost-list"></ul>
          </section>
        </aside>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}     
  <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js" ></script>
  <script src="{% static 'schedulingcalendar/js/picker.js' %}" ></script>
  <script src="{% static 'schedulingcalendar/js/picker.time.js' %}" ></script>
  <script src="{% static 'schedulingcalendar/js/rescheduler.js' %}" ></script>
{% endblock javascript %}    

