{% extends "schedulingcalendar/__baseFormCard.html" %}

{% block sub_navbar %}
  <div class="back-navbar">
      <a class="go-back-link"
         href="{% url 'schedulingcalendar:department_list' %}">Return To Department List</a>
  </div>
{% endblock sub_navbar %}  

{% block form_content %}
  <div class="text-center">
    <h4 class="card-title text-center">Are You Sure You Want To Delete This Department?</h4>
      <form id="delete-department-form"
            name= "DeleteDepartmentForm"
            action="{% url 'schedulingcalendar:department_delete' department.id %}"
            method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Delete Department">
      </form>
  </div>
{% endblock form_content %}