{% extends "schedulingcalendar/__baseFormCard.html" %}

{% block form_content %}
  <h4 class="card-title text-center">Department List</h4>
  <h6>{{ warning_msg }}</h6>
  <a href="{% url 'schedulingcalendar:department_create' %}">New Department</a>
  <ul class="list-group">
    {% for department in department_list %}
      <li class="list-group-item">
        <ul class="list-inline" data-department-id="{{ department.id }}">
          <li>{{ department.name }}</li>
          <li><a href="{% url 'schedulingcalendar:department_update' department.id %}">Edit</a></li>
          <li><a href="{% url 'schedulingcalendar:department_delete' department.id %}">Delete</a></li>
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endblock form_content %}  