{% extends "schedulingcalendar/__baseFormCard.html" %}

{% block form_content %}
  <div class="text-center">
    <h4 class="card-title text-center">Are You Sure You Want To Delete This Department Membership?</h4>
    <form id="delete-department-mem-form"
          name= "DeleteDepartmentMembershipForm"
          action="{% url 'schedulingcalendar:dep_mem_delete' employee.id departmentmembership.id %}"
          method="post">
      {% csrf_token %}
      <input type="submit" class="btn btn-danger" value="Delete Department Membership">
    </form>
  </div>
{% endblock form_content %}