{% extends "schedulingcalendar/__baseFormCard.html" %}
{% load widget_tweaks %}

{% block form_content %}
  <h4 class="card-title text-center">Create Department Membership For {{ employee.first_name }} {{ employee.last_name }}</h4>
  <form id="create-department-mem-form"
        name= "CreateDepartmentMembershipForm"
        action="{% url 'schedulingcalendar:dep_mem_create' employee.id %}"
        method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        {{ field.errors }}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% if field.help_text %}
          <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
      </div>
    {% endfor %}
    <input type="submit" class="btn btn-primary" value="Create Department Membership">
  </form>
{% endblock form_content %}  