{% extends "schedulingcalendar/__baseFormCard.html" %}

{% block form_content %}
  <div class="text-center">
    <h4 class="card-title text-center">Are You Sure You Want To Delete This Desired Time?</h4>
    <form id="delete-desired-time-form"
          name= "DeleteCreateDesiredTimeForm"
          action="{% url 'schedulingcalendar:desired_time_delete' employee.id desiredtime.id %}"
          method="post">
      {% csrf_token %}
      <input type="submit" class="btn btn-danger" value="Delete Desired Time">
    </form>
  </div>
{% endblock form_content %}