{% extends "schedulingcalendar/__baseFormCard.html" %}
{% load widget_tweaks %}

{% block sub_navbar %}
  <div class="back-navbar">
      <a class="go-back-link"
         href="{% url 'schedulingcalendar:employee_info' employee.id %}">Return To {{ employee.first_name }} {{ employee.last_name }}'s Page</a>
  </div>
{% endblock sub_navbar %}  

{% block form_content %}
  <h4 class="card-title text-center">Create Login Account For {{ employee.first_name }} {{ employee.last_name }}</h4>
  <form id="create-login-account-form"
        name= "CreateLoginAccountForm"
        action="{% url 'schedulingcalendar:employee_user_create' employee.id %}"
        method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        {{ field.errors }}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% if field.help_text %}
          <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
      </div>
    {% endfor %}
    <input type="submit" class="btn btn-primary" value="Create Login Account">
  </form>
{% endblock form_content %}  