{% extends "site/__base.html" %}

{% block stylesheets %}
  {{ block.super }}
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" />
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/fullcalendar-custom.css' %}" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css " media="print" />
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/fullcalendar-print-custom.css' %}" media="print" />
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/employee.calendar.css' %}" />
{% endblock stylesheets %}

{% block content %}    
  <!-- Modal used for warnings -->
  {% include "schedulingcalendar/_noCalendarModal.html" %}
  {% include "schedulingcalendar/_scheduleSwapPetitionModal.html" %}
  {% include "schedulingcalendar/_successfulScheduleSwapModal.html" %}

  <div class="container-fluid">
    <div class="row no-print calendar-toolbar">
      <div class="col-lg-9 col-md-12">
        {% include "schedulingcalendar/_employeeCalLoader.html" %}
      </div>
  
      <div class="col-lg-3 col-md-12">
        <!-- Misc Buttons -->
        <div id="swap-schedule-btn" class="calendar-push-btn">
          Schedule Swaps
        </div>
        <div id="cram-rows" class="calendar-push-btn">
          Cram Rows Off
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md">
        <div class="live-cal-margin">
          <!-- Fullcalendar -->
          <section class="live-cal-section">
            <div id="calendar"></div>
          </section>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}     
  <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js" ></script>
  <script src="{% static 'schedulingcalendar/js/employee.rescheduler.js' %}" ></script>
{% endblock javascript %}    

