{% extends "site/__base.html" %}

{% block stylesheets %}
  {{ block.super }}
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/default.css' %}" />
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/default.time.css' %}" />
{% endblock stylesheets %}

{% block content %}
  <div class="container">
    <div class="row">
      <!-- Employee List -->
      <div class="col-md">
        <div class="employee-list-scrollbar">
          <h2>Employee List</h2>
          <ul class="list-group">
            {% for employee in employee_list %}
              <li class="list-group-item">
                <ul class="list-inline" data-employee-id="{{ employee.id }}">
                  <li>{{ employee.first_name }} {{ employee.last_name }}</li>
                  <li><a href="{% url 'schedulingcalendar:employee_info' employee.id %}">Information</a></li>
                  <li>Vacations</li>
                  <li>Repeat Unavailabilities</li>
                  <li>Desired Work Times</li>
                </ul>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}     
  <script src="{% static 'schedulingcalendar/js/picker.js' %}" ></script>
  <script src="{% static 'schedulingcalendar/js/picker.time.js' %}" ></script>
  <script src="{% static 'schedulingcalendar/js/employees.js' %}" ></script>
{% endblock javascript %}    