{% extends "schedulingcalendar/__baseFormCard.html" %}
{% load schedule_calendar_extras %}
{% load widget_tweaks %}

{% block sub_navbar %}
  <div class="back-navbar">
      <a class="go-back-link"
         href="{% url 'schedulingcalendar:employee_list' %}">Return To Employee List</a>
  </div>
{% endblock sub_navbar %}  

{% block content %}
  {{ block.super }}  
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>General Information</h3>
        <ul class="nav nav-tabs">
          <!-- General Tabs -->
          <li class="active"><a href="#info-tab" data-toggle="tab">Information</a></li>
          <li><a href="#department-tab" data-toggle="tab">Departments</a></li>
          <li><a href="#login-tab" data-toggle="tab">Login Settings</a></li>
        </ul>
      
        <div class="tab-content">
          <!-- Info -->
          <div class="tab-pane active" id="info-tab">
            <form id="update-employee-form"
                  name= "UpdateEmployeeForm"
                  action="{% url 'schedulingcalendar:employee_info' employee.id %}"
                  method="post">
              {% csrf_token %}
              {% for field in form %}
                <div class="form-group">
                  {{ field.errors }}
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {{ field|add_class:'form-control' }}
                  {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                  {% endif %}
                </div>
              {% endfor %}
              <input type="submit" class="btn btn-primary" value="Save Changes">
            </form>
          </div>
          
          <!-- Departments -->
          <div class="tab-pane" id="department-tab">
            <a href="{% url 'schedulingcalendar:dep_mem_create' employee.id %}">New Department Membership</a>
            <ul class="list-group">
            {% for department_mem in department_mem_list %}
              <li class="list-group-item">
                <ul class="list-inline" data-department-mem-id="{{ department_mem.id }}">
                  <li>{{ department_mem.department }}</li>
                  <li>Priority: {{ department_mem.priority }}</li>
                  <li>Seniority: {{ department_mem.seniority }}</li>
                  <li><a href="{% url 'schedulingcalendar:dep_mem_update' employee.id department_mem.id %}">Edit</a></li>
                  <li><a href="{% url 'schedulingcalendar:dep_mem_delete' employee.id department_mem.id %}">Delete</a></li>
                </ul>
              </li>
            </ul>
            {% endfor %}
          </div>
          
          <!-- Login settings for employee user account -->
          <div class="tab-pane" id="login-tab">
            {% if employee_user %}
              <h4>Username For Employee: {{ employee_user.username }}</h4>
              <ul class="list-inline">
                <li><a href="{% url 'schedulingcalendar:employee_username_update' employee.id employee_user.id %}">Change Employee's Username</a></li>
                <li><a href="{% url 'schedulingcalendar:employee_user_pw_update' employee.id employee_user.id %}">Change Employee's Password</a><br><br><br><br></li>
                <li>
                  <a href="{% url 'schedulingcalendar:employee_user_delete' employee.id employee_user.id %}">Delete Employee Login Account</a>
                  <p>Note: Deleting login account for employee does not delete the employee profile and its associated information such as availability, department membership, etc.</p>
                </li>
              </ul>
            {% else %}
              <li><a href="{% url 'schedulingcalendar:employee_user_create' employee.id %}">Create Account For Employee</a></li>
            {% endif %}
          </div>
        </div>
      </div>
      
      <!-- Employee Availabilities -->
      <div class="col-md-8">
        <h3>Availability</h3>
        <ul class="nav nav-tabs">
          <!-- Availability Tabs -->
          <li class="active"><a href="#vacation-tab" data-toggle="tab">Vacations</a></li>
          <li><a href="#absence-tab" data-toggle="tab">Absences</a></li>
          <li><a href="#repeat-unavailability-tab" data-toggle="tab">Repeat Unavailabilities</a></li>
          <li><a href="#desired-times-tab" data-toggle="tab">Desired Times</a></li>
        </ul>
        
        <div class="tab-content">
          <!-- Vacation Tab -->
          <div class="tab-pane active" id="vacation-tab">
            <a href="{% url 'schedulingcalendar:vacation_create' employee.id %}">New Vacation</a>
            <!-- Vacation Sub-Tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#curr-future-vacation-tab" data-toggle="tab">Future</a></li>
              <li><a href="#past-vacation-tab" data-toggle="tab">Past</a></li>
            </ul>
            
            <!-- Current and future vacations -->
            <div class="tab-content">
              <div class="tab-pane active" id="curr-future-vacation-tab">
                <ul class="list-group">
                  {% for future_vacation in future_vacation_list %}
                    <li class="list-group-item">
                      <ul class="list-inline" data-vacation-id="{{ future_vacation.id }}">
                        <li>{{ future_vacation.start_datetime }} - {{ future_vacation.end_datetime }}</li>
                        <li><a href="{% url 'schedulingcalendar:vacation_update' employee.id future_vacation.id %}">Edit</a></li>
                        <li><a href="{% url 'schedulingcalendar:vacation_delete' employee.id future_vacation.id %}">Delete</a></li>
                      </ul>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              
              <!-- Past vacations -->
              <div class="tab-pane" id="past-vacation-tab">
                <ul class="list-group">
                  {% for past_vacation in past_vacation_list %}
                    <li class="list-group-item">
                      <ul class="list-inline" data-vacation-id="{{ past_vacation.id }}">
                        <li>{{ past_vacation.start_datetime }} - {{ past_vacation.end_datetime }}</li>
                        <li><a href="{% url 'schedulingcalendar:vacation_update' employee.id past_vacation.id %}">Edit</a></li>
                        <li><a href="{% url 'schedulingcalendar:vacation_delete' employee.id past_vacation.id %}">Delete</a></li>
                      </ul>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          
          <!-- Absence Tab -->
          <div class="tab-pane" id="absence-tab">
            <a href="{% url 'schedulingcalendar:absent_create' employee.id %}">New Absence</a>
            <!-- Absence Sub-Tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#curr-future-absence-tab" data-toggle="tab">Future</a></li>
              <li><a href="#past-absence-tab" data-toggle="tab">Past</a></li>
            </ul>
            
            <!-- Current and future Absences -->
            <div class="tab-content">
              <div class="tab-pane active" id="curr-future-absence-tab">
                <ul class="list-group">
                  {% for future_absence in future_absence_list %}
                    <li class="list-group-item">
                      <ul class="list-inline" data-absence-id="{{ future_absence.id }}">
                        <li>{{ future_absence.start_datetime }} - {{ future_absence.end_datetime }}</li>
                        <li><a href="{% url 'schedulingcalendar:absent_update' employee.id future_absence.id %}">Edit</a></li>
                        <li><a href="{% url 'schedulingcalendar:absent_delete' employee.id future_absence.id %}">Delete</a></li>
                      </ul>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              
              <!-- Past Absences -->
              <div class="tab-pane" id="past-absence-tab">
                <ul class="list-group">
                  {% for past_absence in past_absence_list %}
                    <li class="list-group-item">
                      <ul class="list-inline" data-absence-id="{{ past_absence.id }}">
                        <li>{{ past_absence.start_datetime }} - {{ past_absence.end_datetime }}</li>
                        <li><a href="{% url 'schedulingcalendar:absent_update' employee.id past_absence.id %}">Edit</a></li>
                        <li><a href="{% url 'schedulingcalendar:absent_delete' employee.id past_absence.id %}">Delete</a></li>
                      </ul>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          
          <!-- Repeat Unavailability Tab -->
          <div class="tab-pane" id="repeat-unavailability-tab">
            <a href="{% url 'schedulingcalendar:repeat_unav_create' employee.id %}">New Repeat Unavailability</a>
            <ul class="list-group">
              {% for repeat_unav in repeating_unavailable_list %}
                <li class="list-group-item">
                  <ul class="list-inline" data-vacation-id="{{ vacation.id }}">
                    <li>{{ repeat_unav.weekday|int_to_weekday }}: {{ repeat_unav.start_time }} - {{ repeat_unav.end_time }}</li>
                    <li><a href="{% url 'schedulingcalendar:repeat_unav_update' employee.id repeat_unav.id %}">Edit</a></li>
                    <li><a href="{% url 'schedulingcalendar:repeat_unav_delete' employee.id repeat_unav.id %}">Delete</a></li>
                  </ul>
                </li>
              {% endfor %}
            </ul>
          </div>
            
          <!-- Desired Time Tab -->
          <div class="tab-pane" id="desired-times-tab">
            <a href="{% url 'schedulingcalendar:desired_time_create' employee.id %}">New Desired Time</a>
              <ul class="list-group">
                {% for desired_time in desired_time_list %}
                  <li class="list-group-item">
                    <ul class="list-inline" data-desired-time-id="{{ desired_time.id }}">
                      <li>{{ desired_time.weekday|int_to_weekday }}: {{ desired_time.start_time }} - {{ desired_time.end_time }}</li>
                      <li><a href="{% url 'schedulingcalendar:desired_time_update' employee.id desired_time.id %}">Edit</a></li>
                      <li><a href="{% url 'schedulingcalendar:desired_time_delete' employee.id desired_time.id %}">Delete</a></li>
                    </ul>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
{% endblock content %}  