{% extends "schedulingcalendar/__baseFormCard.html" %}

{% block form_content %}
  <h4 class="card-title text-center">Employee List</h4>
  <a href="{% url 'schedulingcalendar:employee_create' %}">New Employee</a>
  <ul class="list-group">
    {% for employee in employee_list %}
      <li class="list-group-item">
        <ul class="list-inline" data-employee-id="{{ employee.id }}">
          <li class="list-inline-item">{{ employee.last_name }}, {{ employee.first_name }}</li>
          <li class="list-inline-item"><a href="{% url 'schedulingcalendar:employee_info' employee.id %}">Edit</a></li>
          <li class="list-inline-item"><a href="{% url 'schedulingcalendar:employee_delete' employee.id %}">Delete</a></li>
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endblock form_content %}  