{% extends "schedulingcalendar/__baseFormCard.html" %}

{% block sub_navbar %}
  <div class="back-navbar">
      <a class="go-back-link"
         href="{% url 'schedulingcalendar:employee_availability' %}">Return To My Availibility</a>
  </div>
{% endblock sub_navbar %}  

{% block form_content %}
  <div class="text-center">
    <h4 class="card-title text-center">Are You Sure You Want To Delete This Repeating Unavailability Application?</h4>
    <form id="delete-repeat-unavailable-form"
          name= "DeleteRepeatUnavailableForm"
          action="{% url 'schedulingcalendar:employee_repeat_unavailability_application_delete' repeatunavailabilityapplication.id %}"
          method="post">
      {% csrf_token %}
      <input type="submit" class="btn btn-danger" value="Delete Repeat Unavailability Application">
    </form>
  </div>
{% endblock form_content %} 