{% extends "site/__base.html" %}

{% block stylesheets %}
  {{ block.super }}
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/default.css' %}" />
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/default.time.css' %}" />
{% endblock stylesheets %}

{% block content %}
  <div class="container">
    <div class="row">
      <!-- Employee List -->
      <div class="col-md-3">
        <div class="employee-list-scrollbar">
          <h2>Employee List</h2>
          <ul class="list-group">
            {% for employee in employee_list %}
            <li class="list-group-item employee-li" 
                data-employee-id="{{ employee.id }}">{{ employee.first_name }} {{ employee.last_name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- Employee Info -->
      <div class="col-md-4">
        <h2>Employee Info</h2>
        {% for field in employee_form %}
          <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <!-- Employee Availability Editor -->
      <div class="col-md-5">
        <h2>Employee Unavailability</h2>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#">Vacations</a></li>
          <li><a href="#">Repeat Unavailability</a></li>
          <li><a href="#">Desired Times</a></li>
        </ul>
      </div>
    </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}     
  <script src="{% static 'schedulingcalendar/js/picker.js' %}" ></script>
  <script src="{% static 'schedulingcalendar/js/picker.time.js' %}" ></script>
  <script src="{% static 'schedulingcalendar/js/employees.js' %}" ></script>
{% endblock javascript %}    