{% extends "site/__base.html" %}

{% block stylesheets %}
  {{ block.super }}
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/default.css' %}" />
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/default.time.css' %}" />
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/landing-page.css' %}" />
{% endblock stylesheets %}

{% block content %}
  <div class="jumbotron rounded-0 landing-page-bg-top">
    <div class="container text-center">
      <h2 class="landing-page-title">A Scheduling App Built For Humans Not Computers</h2>
      <h4 class="bold">A hybrid online/offline retail employee scheduling application.
      Designed to be both print native and fully online to achieve the best of both worlds
      for managers and employees.</h4>
      <br>
      <p>
        <a class="btn btn-primary btn-lg landing-page-btn" href="{% url 'schedulingcalendar:register' %}" role="button">Register For Free &raquo;</a> 
      </p>
    </div>
  </div>

  <section class="landing-page-bg-example">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
          <h3>An Example Calendar: </h3>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <a class="cart-view" href="/static/site/images/front-page-2.png" onClick="return Pop(this.href,500,499)">
              <img class="img-fluid" src="/static/site/images/front-page-2.png" alt="Example Picture">
            </a>
          </div>
        </div>
      </div>
    </div>      
  </section>
  
  <br>
{% endblock content %}

{% block javascript %}
  {{ block.super }}     
  <script src="{% static 'schedulingcalendar/js/picker.js' %}" ></script>
  <script src="{% static 'schedulingcalendar/js/picker.time.js' %}" ></script>
{% endblock javascript %}    