{% extends "site/__base.html" %}
{% load schedule_calendar_extras %}
{% load widget_tweaks %}

{% block stylesheets %}
  {{ block.super }}
  {% load static %}
{% endblock stylesheets %}

{% block content %}
  {{ block.super }}  
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h3>Help</h3>
          <p class="font-weight-bold">If you cannot find an answer to your question please email us at info@schedulehours.com</p>
          
          <div class="row">
            <div class="col-md-4">
              <div id="navbar-questions" class="list-group">
                <a class="list-group-item list-group-item-action" href="#q-1">Creating an account for an employee</a>
                <a class="list-group-item list-group-item-action" href="#q-2">Editing or removing an employee account</a>
                <a class="list-group-item list-group-item-action" href="#q-3">How to copy day or week of schedules</a>
                <a class="list-group-item list-group-item-action" href="#q-4">Changing how schedules are formatted</a>
                <a class="list-group-item list-group-item-action" href="#q-5">Printing the calendar</a>
                <a class="list-group-item list-group-item-action" href="#q-6">How does publishing work?</a>
                <a class="list-group-item list-group-item-action" href="#q-7">What are the view rights?</a>
                <a class="list-group-item list-group-item-action" href="#q-8">How are employees notified?</a>
                <a class="list-group-item list-group-item-action" href="#q-9">What is viewing live?</a>
                <a class="list-group-item list-group-item-action" href="#q-10">How do monthly/weekly/daily costs work?</a>
                <a class="list-group-item list-group-item-action" href="#q-11">What is the eligibility list?</a>
                <a class="list-group-item list-group-item-action" href="#q-12">Exporting to CSV</a>
              </div>
            </div>
          
            <div class="col-md-8">
              <div class="text-left">
                <h4 id="q-1" class="text-center">Creating an account for an employee</h4>
                <p class="mb-5">To create an account for an employee, click on the particular employee in the 
                list of employees. Then click on the 'Login Settings'. Then give the employee
                a username and password.</p>
                
                <h4 id="q-2" class="text-center">Editing or removing an employee account</h4>
                <p class="mb-5">To edit or remove an account for an employee, click on the particular 
                employee in the list of employees. Then click on the 'Login Settings'. If the employee
                already has an account, there will be several links, one to change the user name, the
                password, and lastly to delete the account. Note, deleting the login account
                does not delete the employee profile.</p>
                
                <h4 id="q-3" class="text-center">How to copy day or week of schedules</h4>
                <p class="mb-5">To copy a day or week of schedules, simply click on the day (Or day in the week) 
                whose schedule's you want to copy. Once the day is selected, click the 
                'Copy Day' or 'Copy Week' button. Then <span class="font-weight-bold">double-click</span>
                the day you want to schedules to copy to.</p>

                <h4 id="q-4" class="text-center">Changing how schedules are formatted</h4>
                <p class="mb-5">Changing how schedules are textually formatted is done by selecting
                various settings in the calendar display settings page. You can get to this page
                by clicking the dropdown on the calendar button or 
                <a href="{% url 'schedulingcalendar:calendar_display_settings' %}">click here.</a></p>

                <h4 id="q-5" class="text-center">Printing the calendar</h4>
                <p class="mb-5">Always print the live published version of the calendar. Because the draft calendar is
                never viewable by employees, it is best to print the live calendar both for 
                looks and to keep the print and online versions synchronized. For tips on how 
                to best print the calendar, go to the live version you wish to print and click
                on the 'Print Help' button.</p>
                
                <h4 id="q-6" class="text-center">How does publishing work?</h4>
                <p>When you are ready to release your schedules, click the 'Publish'
                button on the calendar page. This will create a pop-up that gives you additional options
                such as 'View Rights' and choosing what methods to notify employees of changes.</p>
                <p class="mb-5" class="text-center">Once you click 'Publish' in the pop-up menu the calendar will be 
                copied and the employees who both have accounts and have the 'View Rights' 
                will be allowed to see the calendar. Note, any changes you
                make on the draft calendar will not be visible. Employees who have the 
                'View Rights' can only see the Published version, not the draft version.</p>
                
                <h4 id="q-7" class="text-center">What are the view rights?</h4>
                <p>View rights simply means what employees can see the published schedules.
                If you want to limit what employees can see the schedules, you can select specifically
                which employees or departments can see the schedules. When not selecting to allow 
                every employee to view the calendar, only employees who have the 'right' to see
                the calendar can see it. All other employees will not be able to see the calendar.
                If they attempt to see the calendar they will be notified no calendar exists for
                that date and department.</p>
                <p class="mb-5" class="text-center">If you have already published the calendar once and wish to change the view rights
                without publishing again, say, let more employees see the calendar, click the 
                'View Rights' button next to the 'Publish' button. This allows you to modify
                the set of employees who can see the calendar. You can also choose if you want
                the employees who could not see, but now can see the calendar, if these new
                employees will get a text and/or email notifying them that a calendar with schedules
                on them exists.</p>
                
                <h4 id="q-8" class="text-center">How are employees notified?</h4>
                <p>Employees are notified either by text and/or email. When publishing a 
                calendar or editing the view rights, you have the option to choose what methods of 
                notifaction, if any, will be used.</p>
                <p>When you do allow for either texting or emailing, only employees who have schedule
                changes will be notified. For example, employee A is assigned to a schedule belonging
                to a calendar you are publishing, employee B is not among any schedules. Employee A will
                receive a notification, employee B will not.</p>
                <p>If you later decide to put employee B on a schedule that employee A is assigned to, then
                click publish, both employees will receive a notification, because they both have changes.</p>
                <p class="mb-5">The same logic applies to editing view rights as well. If an employee who could not see
                the schedules before suddenly can see them, they will be notified if they can see them AND
                have schedules that belong to the calendar they are now allowed to see.</p>
                
                <h4 id="q-9" class="text-center">What is viewing live?</h4>
                <p class="mb-5">When you publish a calendar, you will be able to 'view it live', meaning, it will
                look exactly to you as it does to the employees. If you edit schedules later, you can still
                view the same 'live' calendar. Also, each published version is saved. So if you wish to 
                go back and view an older published calendar for whatever reason you can go to view live
                and check out every version you have published.</p>
                
                <h4 id="q-10" class="text-center">How do monthly/weekly/daily costs work?</h4>
                <p>Everytime you add an employee to a schedule, or edit or remove a schedule with an
                employee assigned, the projected cost of that calendar changes. These cost projections can
                aid your scheduling by giving you a sense of costs. The costs are calculated by multiplying
                the wage of the employee times the hour that they work, minus any breaktime, while also factoring
                in overtime costs and benefits such as social security and monthly medical costs.</p>
                <p class="mb-5">There is also the option to input monthly revenue history. This will give you a percentage of
                employment cost vs monthly revenue. You can find this under the employees drop down or you can 
                <a href="{% url 'schedulingcalendar:monthly_revenue_list' %}">click here.</a></p>
                
                <h4 id="q-11" class="text-center">What is the eligibility list?</h4>
                <p>When you click on a schedule, a list of all employees that belong to the department of 
                that schedule appear in a list. This list either can be sorted alphabetically by name or by eligibility.</p>
                <p>Eligibility in this case means a numbered score that is determined by that employee's availability for
                that schedule. The more the schedule overlaps with an employees desired times and how much that employee
                wants to work that week the better the score, and the more that schedule overlaps with any unavailabilities, like
                a vacation or another schedule, the worse their score will be.</p>
                <p class="mb-5">This is done as to outsource decision making when assigning employees. Almost all of the time, you can rule 
                out assigning someone who is on vacation, or who explicitly cannot work Mondays because they have another job or
                school. If you choose to sort the list of employees alphabetically, availability will still show via the color of
                the employee. You can choose how employees are listed in the business settings page under the employee dropdown
                button, or <a href="{% url 'schedulingcalendar:business_update' %}">click here.</a></p>
                
                <h4 id="q-12" class="text-center">Exporting to CSV</h4>
                <p class="mb-5">You can export schedules to a CSV file for record keeping. the CSV is not meant to be used 
                for printing, only for record keeping. You can export schedules to a CSV by clicking on 'Export to CSV' on
                the calendar dropdown button, or <a href="{% url 'schedulingcalendar:export_to_csv_page' %}">click here.</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}