{% extends "site/__base.html" %}

{% block stylesheets %}
  {{ block.super }}
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/default.css' %}" />
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/default.time.css' %}" />
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/fullcalendar.css' %}" />
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/fullcalendar-custom.css' %}" />
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/fullcalendar.print.css' %}" media="print" />
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/fullcalendar-print-custom.css' %}" media="print" />
{% endblock stylesheets %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md">
        <!-- Calendar Toolbar -->
        <aside class="calendar-page-toolbar no-print">
          <section class="calendar-loader">
            <form id="load-calendar-form"
                  action="{% url 'schedulingcalendar:get_schedules' %}"
                  onsubmit="return(validateGetCalendarForm())"
                  method="get">
              {% csrf_token %}
              <div class="select-custom-container">
                <label for="cal-department-selector" class="cal-loader-label">Department</label>
                <div class="select-cal-loader">
                  <select id="cal-department-selector" name="department">
                    {% for department in department_list %}
                      <option value="{{ department.id }}">{{ department.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              
              <label for="cal-month-selector">Month</label>
              <div class="select-cal-loader">
                <select id="cal-month-selector" name="month">
                  <option value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>  
              </div>
              
              <label for="cal-year-selector">Year</label> 
              <div class="select-cal-loader">
                <select id="cal-year-selector" name="year">
                  {% for year in year_list %}
                  <option value="{{ year }}">{{ year }}</option>
                  {% endfor %}
                </select>
              </div>
              
              <input type="submit" class="calendar-loader-btn" id="get-calendar-button" value="Get Calendar">
            </form>
          </section>
        </aside>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <!-- Schedule Editor -->
        <aside class="schedule-editor no-print">
          <section class="schedule-adder">
            <h1>Schedule Editor</h1>
            <form id="schedule-add-form"
                  name= "addingScheduleForm"
                  action="{% url 'schedulingcalendar:add_schedule' %}"
                  onsubmit="return(validateAddScheduleForm())" 
                  method="post" 
                  align="left">
              {% csrf_token %}
              <input type="hidden" id="add-date" value="" name="date">
              <input type="hidden" id="new-schedule-dep" value="" name="department">
              <label for="start-timepicker">Start Time</label>
              <input type="text" id="start-timepicker" name="start-timepicker"/><br>
              <input type="hidden" value="False" name="hide-start">
              <div class="checkbox-custom-container">
                <div class="checkbox-custom">
                  <input type="checkbox" id="start-checkbox" name="hide-start" value="True">
                  <label for="start-checkbox"></label>
                </div>
                <span class="checkbox-custom-text">Hide Start Time</span>
              </div>
              <label for="end-timepicker">End Time</label>
              <input type="text" id="end-timepicker" name="end-timepicker"/><br>
              <input type="hidden" value="False" name="hide-end">
              <div class="checkbox-custom-container">
                <div class="checkbox-custom">
                  <input type="checkbox" id="end-checkbox" name="hide-end" value="True">
                  <label for="end-checkbox"></label>
                </div>
                <span class="checkbox-custom-text">Hide End Time</span>
              </div>
              <input type="submit" value="Add Schedule">
            </form>
          </section>
                
          <section id="schedule-info">
            <h3 id="eligable-list-header">Eligable List</h3>
            <ul id="eligable-list"></ul>
          </section>
        </aside>
      </div>

      <div class="col-md-10">
        <!-- Fullcalendar -->
        <section>
          <div id="calendar"></div>
        </section>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}     
  <script src="{% static 'schedulingcalendar/js/fullcalendar.js' %}" ></script>
  <script src="{% static 'schedulingcalendar/js/picker.js' %}" ></script>
  <script src="{% static 'schedulingcalendar/js/picker.time.js' %}" ></script>
  <script src="{% static 'schedulingcalendar/js/rescheduler.js' %}" ></script>
{% endblock javascript %}    

