{% extends "site/__base.html" %}

{% block stylesheets %}
  {{ block.super }}
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css" />
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/fullcalendar-custom.css' %}" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css " media="print" />
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/fullcalendar-print-custom.css' %}" media="print" />
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/manager.calendar.css' %}" />
{% endblock stylesheets %}

{% block content %}
  <!-- Modal used for warnings -->
  {% include "schedulingcalendar/_noCalendarModal.html" %}
    
  <div class="container-fluid">
    <div class="row no-print">
      <div class="col-md pl-0 pr-0">
        <aside class="calendar-page-toolbar">
          <div class="row">
            <!-- Link back to schedule editing page -->
            <div class="col-lg-3 col-md-12">
              <section class="calendar-loader">
                <div class="select-cal-loader return-to-schedule-editor">
                  <a href="{% url 'schedulingcalendar:calendar_page' %}">Go Back To Schedule Editor</a>
                </div>
              </section>
            </div>
            <!-- Version select -->
            <div class="col-lg-6 col-md-12">
              <div class="text-center">
                <section class="calendar-loader">
                  <div class="version-loader">
                    <form id="load-calendar-form"
                          action="{% url 'schedulingcalendar:get_live_schedules' %}"
                          onsubmit="return(validateGetCalendarForm())"
                          data-date="{{ date|date:"Y-m-d" }}"
                          data-department="{{ department }}"
                          data-department-name="{{ department_name }}"
                          data-live-cal-version="{{ version }}"
                          method="get">
                      {% csrf_token %}
                      {{ live_calendar_form.department }}
                      {{ live_calendar_form.month }}
                      {{ live_calendar_form.year }}
                      
                      {{ live_calendar_form.version.errors }}
                      {{ live_calendar_form.version.label_tag }}
                      <div class="select-cal-loader">
                        {{ live_calendar_form.version }}
                      </div>
                      {% if live_calendar_form.version.help_text %}
                        <p class="help">{{ live_calendar_form.version.help_text|safe }}</p>
                      {% endif %}
                      <input type="submit" class="calendar-loader-btn" id="get-calendar-button" value="Get Calendar">
                    </form>
                  </div>
                </section>
              </div>
            </div>
            
            <div class="col-lg-3 col-md-12">
              <div id="cram-rows" class="calendar-push-btn">Cram Rows Off</div>
            </div>
          </div>
        </aside>
      </div>
    </div>

    <div class="row">
      <div class="col-md">
        <div class="live-cal-margin">
          <!-- Fullcalendar -->
          <section class="live-cal-section">
            <div id="calendar" class=" d-print-table"></div>
          </section>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}     
  <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js" ></script>
  <script src="{% static 'schedulingcalendar/js/manager.rescheduler.js' %}" ></script>
{% endblock javascript %}    

