{% extends "schedulingcalendar/__baseFormCard.html" %}
{% load static %}
{% load widget_tweaks %}

{% block sub_navbar %}
  <div class="back-navbar">
      <a class="go-back-link"
         href="{% url 'schedulingcalendar:monthly_revenue_list' %}">Return To Monthly Revenue List</a>
  </div>
{% endblock sub_navbar %}  

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css">
{% endblock stylesheets %}

{% block form_content %}
  <h4 class="card-title text-center">Edit Monthly Revenue</h4>
  <form id="update-monthly-revenue-form"
        name= "UpdateMonthlyRevenueForm"
        action="{% url 'schedulingcalendar:monthly_revenue_update' monthlyrevenue.id %}"
        method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        {{ field.errors }}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
      </div>
    {% endfor %}
    <input type="submit" class="btn btn-primary" value="Save Changes">
  </form>
{% endblock form_content %} 

{% block javascript %}
  {{ block.super }}  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js" ></script>
  <script src="{% static 'schedulingcalendar/js/sales.monthpicker.js' %}" ></script>
{% endblock javascript %}  