{% extends "schedulingcalendar/__baseForm.html" %}
{% load widget_tweaks %}

{% block content %}
  {{ block.super }}
  <div class="container">
    <div class="row">
      <!-- Employee Info -->
      <div class="col-md">
        <h2>Edit Monthly Revenue</h2>
        <form id="update-monthly-revenue-form"
              name= "UpdateMonthlyRevenueForm"
              action="{% url 'schedulingcalendar:monthly_revenue_update' monthlyrevenue.id %}"
              method="post">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group">
              {{ field.errors }}
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field|add_class:'form-control' }}
              {% if field.help_text %}
              <p class="help">{{ field.help_text|safe }}</p>
              {% endif %}
            </div>
          {% endfor %}
          <input type="submit" value="Save Changes">
        </form>
      </div>
    </div>
  </div>
{% endblock content %} 