{% extends "schedulingcalendar/__baseFormCard.html" %}

{% block form_content %}
  <div class="text-center">
    <h4 class="card-title text-center">Are You Sure You Want To Delete This Monthly Revenue?</h4>
    <form id="delete-monthly-revenue-form"
          name= "DeleteMonthlyRevenueForm"
          action="{% url 'schedulingcalendar:monthly_revenue_delete' monthlyrevenue.id %}"
          method="post">
      {% csrf_token %}
      <input type="submit" class="btn btn-danger" value="Delete Monthly Revenue">
    </form>
  </div>
{% endblock form_content %}