{% extends "site/__base.html" %}

{% block stylesheets %}
  {{ block.super }}
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/default.css' %}" />
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/default.time.css' %}" />
{% endblock stylesheets %}

{% block content %}
  <div class="container">
    <div class="row">
      <!-- Department List -->
      <div class="col-md">
        <div class="{{object_class_name}}-list-scrollbar">
          <h2>{{object_name}} List</h2>
          <a href="{% url 'schedulingcalendar:{{new_object_url}}' {{new_object_url_arg}} %}">New {{object_name}}</a>
          <ul class="list-group">
            {% for object in object_list %}
              <li class="list-group-item">
                <ul class="list-inline" data-{{object_class_name}}-id="{{ object.id }}">
                  <li>{{ object_info_title }}</li>
                  <li><a href="{% url 'schedulingcalendar:{{update_object_url}}' monthly_rev.id %}">Edit</a></li>
                  <li><a href="{% url 'schedulingcalendar:{{delete_object_url}}' monthly_rev.id %}">Delete</a></li>
                </ul>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}     
  <script src="{% static 'schedulingcalendar/js/picker.js' %}" ></script>
  <script src="{% static 'schedulingcalendar/js/picker.time.js' %}" ></script>
  <script src="{% static 'schedulingcalendar/js/employees.js' %}" ></script>
{% endblock javascript %}    