<!-- Modal -->
<div id="printHelpModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <div class="text-center">
          <h4 class="modal-title">How To Best Print The Calendar</h4>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <h5>There are a few settings you can change in the print preview dialog 
        to best present printed schedules:</h5>
        
        <p class="mt-4 mb-0"><b>1. Play around with the scaling</b></p>
        <p>Depending on your operating system, your print preview may look different.
        Find the scaling dropdown and find the best text size.</p>
        <div class="text-center">
          <a class="cart-view" href="/static/site/images/scaling.png" onClick="return Pop(this.href,500,499)">
            <img class="img-fluid" src="/static/site/images/scaling.png" alt="Scaling Printed Copy">
          </a>
        </div>
        <p class="mt-4 mb-0"><b>2. Set the margins & Turn off headers and footers</b></p>
        <div class="text-center">
          <img class="img-fluid" src="/static/site/images/margins.png" alt="Scaling Printed Copy">
        </div>
        <p class="mt-4 mb-0"><b>3. Turn on 'Cram Rows' if there are many employees</b></p>
        <p>In the case where you have many employees for every day and want to 
        fit the calendar on one printed page, cram rows decreases the line space between
        the schedule text.</p>
        
        
      </div>
      
      
      <div class="modal-footer">
        <div class="text-center">
          <button type="button" 
                  class="btn btn-info text-center"   
                  data-dismiss="modal">Okay</button>
        </div>
      </div>
    </div>
  </div>
</div>