{% extends "schedulingcalendar/__baseFormCard.html" %}
{% load static %}
{% load widget_tweaks %}

{% block form_content %}
  <h4 class="card-title text-center">Create Repeat Unavailability For {{ employee.first_name }} {{ employee.last_name }}</h4>
  <form id="create-repeat-unavailable-form"
        name= "CreateRepeatUnavailableForm"
        action="{% url 'schedulingcalendar:repeat_unav_create' employee.id %}"
        method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        {{ field.errors }}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
      </div>
    {% endfor %}
    <input type="submit" class="btn btn-primary" value="Create Repeating Unavailability">
  </form>
{% endblock form_content %} 

{% block javascript %}
  {{ block.super }}  
  <script src="{% static 'schedulingcalendar/js/repeat.timepicker.js' %}" ></script>
{% endblock javascript %}  