{% extends "site/__base.html" %}

{% block stylesheets %}
  {{ block.super }}
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/default.css' %}" />
  <link rel="stylesheet" href="{% static 'schedulingcalendar/css/default.time.css' %}" />
{% endblock stylesheets %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h2>Vacation Info For {{ employee.first_name }} {{ employee.last_name }}</h2>
        <form id="create-vacation-form"
              name= "DeleteVacationForm"
              action="{% url 'schedulingcalendar:vacation_create' employee.id %}"
              method="post">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group">
              {{ field.errors }}
              {{ field.label_tag }} {{ field }}
              {% if field.help_text %}
              <p class="help">{{ field.help_text|safe }}</p>
              {% endif %}
            </div>
          {% endfor %}
          <input type="submit" value="Create Vacation">
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}     
  <script src="{% static 'schedulingcalendar/js/picker.js' %}" ></script>
  <script src="{% static 'schedulingcalendar/js/picker.time.js' %}" ></script>
  <script src="{% static 'schedulingcalendar/js/employees.js' %}" ></script>
{% endblock javascript %}    