{% extends "schedulingcalendar/__baseFormCard.html" %}

{% block form_content %}
  <div class="text-center">
    <h4 class="card-title text-center">Are You Sure You Want To Delete This Vacation?</h4>
    <form id="delete-vacation-form"
          name= "DeleteVacationForm"
          action="{% url 'schedulingcalendar:vacation_delete' employee.id vacation.id %}"
          method="post">
      {% csrf_token %}
      <input type="submit" class="btn btn-danger" value="Delete Vacation">
    </form>
  </div>
{% endblock form_content %}  